.products-container {
  width: 100%;
}

.product-content {
  margin: 25px auto;
  max-width: 1220px;
  padding: 20px;
}

.list-products {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  width: 100%;
}

.product-item {
  background: white;
  border: 1px solid rgb(206, 204, 204);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 460px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.image-product {
  height: 280px;
  width: 100%;
}

.product-name {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.product-name strong {
  font-size: 22px;
}

.card-description {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.card-description span {
  font-size: 30px;
}

.btn-quantity {
  display: flex;
  gap: 5px;
}

.btn-quantity input {
  border: none;
  border-radius: 4px;
  font-size: 20px;
  height: 35px;
  padding-left: 18px;
  width: 55px;
}

.btn-quantity button {
  background: none;
  border: none;
  cursor: pointer;
  height: 35px;
  width: 25px;
}

.btn-quantity button img {
  width: 100%;
}

.cart-price {
  bottom: 25px;
  position: fixed;
  right: 40px;
  z-index: 1000;
}

.cart-price button {
  background: #04d361;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  height: 50px;
  width: 350px;
}
