.registration-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.registration-content {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 550px;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}

.form-register {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h2 {
  font-size: 20px;
  font-weight: 400;
}

.form-register label {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.form-register label p {
  background: white;
}

.form-register label input {
  border: 1px solid #e6e6f0;
  border-radius: 4px;
  height: 40px;
  padding-left: 2px;
  width: 100%;
}

.btn-create {
  margin-top: 25px;
  width: 100%;
}

.btn-create button {
  background: #04d361;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.span-error {
  align-items: center;
  background: rgba(230, 53, 53, 0.712);
  border: 2px solid rgb(241, 128, 128);
  border-radius: 4px;
  color: white;
  display: flex;
  height: 45px;
  justify-content: center;
  margin: 20px auto;
  padding-left: 45px;
  width: 500px;
}

.span-error-disable {
  display: none;
}

.span-error h4 {
  align-items: center;
  width: 100%;
}
